body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fefefe;
  margin: 0;
}

.container {
  position: relative;
  width: 300px;
  height: 400px;
  cursor: pointer;
}

.box {
  position: absolute;
  width: 100%;
  bottom: -50px;
  z-index: 2;
}

.gift-img {
  position: absolute;
  width: 140px;
  height: 140px;
  object-fit: contain;
  top: 230px;
  transition: all 0.8s ease;
  z-index: 1;
}

/* Bay lên: hình 1 cao hơn, hình 2 thấp hơn */
/* Bay lên: hình 1 cao hơn, hình 2 thấp hơn */
#img1.fly-up {
  top: 5px;
  left: 50px;
}

#img2.fly-up {
  top: 25px;
  left: 110px;
}

/* Bay ngang vào nhau trên cùng một độ cao */
#img1.fly-in {
  top: 5px;    /* cùng độ cao */
  left: 80px;   /* bên trái */
  transform: none;
}

#img2.fly-in {
  top: 25px;    /* cùng độ cao */
  left: 80px;  /* bên phải */
  transform: none;
}


.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}